# external-file: https://raw.githubusercontent.com/seanmorley15/AdventureLog/main/docker-compose.yml
# digest: 7e64a0d8af98601950afb5802ac71263ff1073445ad94931b423a233ea1d0eff

services:
  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:latest@sha256:3a1d17b7f4224bf488fba0ec9bd5447a876e5da3f8e09e5bbdc49c1e5e10c33b
    container_name: adventurelog-frontend
    restart: always
    env_file: .env
    ports:
      - "127.0.0.1:${FRONTEND_PORT:-8015}:3000"
    depends_on:
      - server

  db:
    image: ghcr.io/baosystems/postgis:16-3.5 # until postgis/postgis on DockerHub supports linux/arm64
    container_name: adventurelog-db
    restart: always
    env_file: .env
    volumes:
      - "{{ adventure_log_dir }}/db:/var/lib/postgresql/data/"

  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:latest@sha256:a749e5a0d670277b9b3c057c3800a8eda084c33d0fe9199aed94c65c345f02b7
    container_name: adventurelog-backend
    restart: always
    env_file: .env
    ports:
      - "127.0.0.1:${BACKEND_PORT:-8016}:80"
    depends_on:
      - db
    volumes:
      - "{{ adventure_log_dir }}/data:/code/media/"
