# external-file
# owner: seanmorley15
# repo: AdventureLog
# path: docker-compose.yml
# commit-hash: 19baf6ab351430395f0d5167fe8d667c364fcd34

services:
  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:v0.12.0@sha256:6a2f104a413422d88a05e48623d5c6f44b73d743425909d2c0cea6306b38448c
    container_name: "{{ services.adventure_log.container_names.frontend }}"
    restart: always
    env_file:
      - .env
      - .env.override
    ports: !reset []
    networks:
      - default
      - caddy

  db:
    image: ghcr.io/baosystems/postgis:16-3.5@sha256:fe936f8b5e00921ad6604a6190e2b4c0e6bd8c6ba6aad72bdf833164149df945 # until postgis/postgis on DockerHub supports linux/arm64
    restart: always
    volumes:
      - "{{ adventure_log_data_dir }}/db:/var/lib/postgresql/data/"
    env_file:
      - .env
      - .env.override

  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:v0.12.0@sha256:774332426ea6af329530a3edf82ef623ad21b5d7937d9f45a67dee0236846bdd
    container_name: "{{ services.adventure_log.container_names.backend }}"
    restart: always
    volumes:
      - "{{ adventure_log_data_dir }}/data:/code/media/"
    env_file:
      - .env
      - .env.override
    ports: !reset []
    networks:
      - default
      - caddy

networks:
  caddy:
    external: true
