# external-file
# owner: seanmorley15
# repo: AdventureLog
# path: docker-compose.yml
# commit-hash: 19baf6ab351430395f0d5167fe8d667c364fcd34

services:
  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:v0.12.1@sha256:b9c492d93927825b0f7187ac4614cebd748ce712947d5283c16888956460fc8a
    container_name: "{{ services.adventure_log.container_names.frontend }}"
    restart: always
    env_file:
      - .env
      - .env.override
    ports: !reset []
    networks:
      - default
      - caddy

  db:
    image: ghcr.io/baosystems/postgis:16-3.5@sha256:e64fc43a8397bd58f75373aadbbe70065e1acb98f92bf2795d28198cf2768127 # until postgis/postgis on DockerHub supports linux/arm64
    restart: always
    volumes:
      - "{{ adventure_log_data_dir }}/db:/var/lib/postgresql/data/"
    env_file:
      - .env
      - .env.override

  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:v0.12.1@sha256:30e0db65690df137ed6017a62b5cbd64aad229c512e92b2b1be402277db5b109
    container_name: "{{ services.adventure_log.container_names.backend }}"
    restart: always
    volumes:
      - "{{ adventure_log_data_dir }}/data:/code/media/"
    env_file:
      - .env
      - .env.override
    ports: !reset []
    networks:
      - default
      - caddy

networks:
  caddy:
    external: true
