# external-file
# owner: seanmorley15
# repo: AdventureLog
# path: docker-compose.yml
# commit-hash: 19baf6ab351430395f0d5167fe8d667c364fcd34

services:
  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:latest@sha256:2fec485fcecadd962a27b192c0d7fc03c569a259f867d15cefe8b95ce15db5a5
    container_name: "{{ services.adventure_log.container_names.frontend }}"
    restart: always
    env_file:
      - .env
      - .env.override
    ports: !reset []
    networks:
      - default
      - caddy

  db:
    image: ghcr.io/baosystems/postgis:16-3.5@sha256:3655e9d0afe871dae6c4fb6e615cb152c0c8382017b73328e6f4b52f53b49f1b # until postgis/postgis on DockerHub supports linux/arm64
    restart: always
    volumes:
      - "{{ adventure_log_data_dir }}/db:/var/lib/postgresql/data/"
    env_file:
      - .env
      - .env.override

  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:latest@sha256:833dfd855e318ec30a54d2c70447226b887991d009cdb804f9ab5d2720fe660d
    container_name: "{{ services.adventure_log.container_names.backend }}"
    restart: always
    volumes:
      - "{{ adventure_log_data_dir }}/data:/code/media/"
    env_file:
      - .env
      - .env.override
    ports: !reset []
    networks:
      - default
      - caddy

networks:
  caddy:
    external: true
