# external-file: https://raw.githubusercontent.com/seanmorley15/AdventureLog/main/docker-compose.yml
# digest: 7e64a0d8af98601950afb5802ac71263ff1073445ad94931b423a233ea1d0eff

services:
  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:latest@sha256:3cf11dd5923c3507b9df5c21d26f5b85d73980c5a80ad1094bdcc1b74aaed1d0
    container_name: adventurelog-frontend
    restart: always
    env_file: .env
    ports:
      - "127.0.0.1:${FRONTEND_PORT:-8015}:3000"
    depends_on:
      - server

  db:
    image: ghcr.io/baosystems/postgis:16-3.5 # until postgis/postgis on DockerHub supports linux/arm64
    container_name: adventurelog-db
    restart: always
    env_file: .env
    volumes:
      - "{{ adventure_log_dir }}/db:/var/lib/postgresql/data/"

  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:latest@sha256:53fdd2f3b281e805c7ef1cd56003eee02060f016e50951023ee30c27f275ccab
    container_name: adventurelog-backend
    restart: always
    env_file: .env
    ports:
      - "127.0.0.1:${BACKEND_PORT:-8016}:80"
    depends_on:
      - db
    volumes:
      - "{{ adventure_log_dir }}/data:/code/media/"
