# external-file
# owner: crocodilestick
# repo: Calibre-Web-Automated
# path: docker-compose.yml
# commit-hash: ad7ed735d7092d267a2f0646a13bd07e37ec39d6

services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:v4.0.1@sha256:546aace4ef96610c65fa9e309d50137be8f36398974e2ea3ac8d1e1ed2ed8f0e
    container_name: "{{ services.calibre_web_automated.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ={{ timezone }}
      - HARDCOVER_TOKEN={{ calibre_web_automated_hardcover_token }}
      - TRUSTED_PROXY_COUNT=2 # Cloudflare Tunnel + reverse proxy (Caddy)
    volumes:
      - "{{ calibre_web_automated_data_dir }}/config:/config"
      - "{{ calibre_web_automated_data_dir }}/upload:/cwa-book-ingest"
      - "{{ calibre_web_automated_data_dir }}/library:/calibre-library"
      - "{{ calibre_web_automated_data_dir }}/plugins:/config/.config/calibre/plugins"
    ports: !reset []

networks:
  caddy:
    external: true
