# external-file
# owner: crocodilestick
# repo: Calibre-Web-Automated
# path: docker-compose.yml
# commit-hash: ad7ed735d7092d267a2f0646a13bd07e37ec39d6

services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:v4.0.6@sha256:c31a738b6d5ec6982c050063dd3f063b6943eb1051fc81144789f840d9093a8d
    container_name: "{{ services.calibre_web_automated.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ={{ timezone }}
      - HARDCOVER_TOKEN={{ hardcover_api_token }}
      - TRUSTED_PROXY_COUNT=2 # Cloudflare Tunnel + reverse proxy (Caddy)
    volumes:
      - "{{ calibre_web_automated_data_dir }}/config:/config"
      - "{{ calibre_web_automated_data_dir }}/upload:/cwa-book-ingest"
      - "{{ calibre_web_automated_data_dir }}/library:/calibre-library"
      - "{{ calibre_web_automated_data_dir }}/plugins:/config/.config/calibre/plugins"
    ports: !reset []

networks:
  caddy:
    external: true
