# external-file
# owner: crocodilestick
# repo: Calibre-Web-Automated
# path: docker-compose.yml
# commit-hash: ad7ed735d7092d267a2f0646a13bd07e37ec39d6

services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:dev@sha256:72fe38d87d0e04816d86f2b169b33746c4d46ae973f643006afee17bc6730a93 # TODO: pin to a specific tag when next release is made
    container_name: "{{ services.calibre_web_automated.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      - TZ={{ timezone }}
      - HARDCOVER_TOKEN={{ calibre_web_automated_hardcover_token }}
      - TRUSTED_PROXY_COUNT=2 # Cloudflare Tunnel + reverse proxy (Caddy)
    volumes:
      - "{{ calibre_web_automated_data_dir }}/config:/config"
      - "{{ calibre_web_automated_data_dir }}/upload:/cwa-book-ingest"
      - "{{ calibre_web_automated_data_dir }}/library:/calibre-library"
      - "{{ calibre_web_automated_data_dir }}/plugins:/config/.config/calibre/plugins"
    ports: !reset []
  calibre-web-automated-book-downloader-tor:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader-tor:v0.4.0@sha256:ce91fb552de759c7deb4b50106eb47b4b7ef512d986f08f1c2f7498f50c9a0b2
    container_name: "{{ services.calibre_web_automated_book_downloader.container_name }}"
    networks:
      - default
      - caddy
    environment:
      TZ: "{{ timezone }}"
      CWA_DB_PATH: "/auth/app.db"
      USING_TOR: true
      CALIBRE_WEB_URL: "https://{{ services.calibre_web_automated.domain }}"
      BOOK_LANGUAGE: "en,de"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped
    volumes:
      - "{{ calibre_web_automated_data_dir }}/upload:/cwa-book-ingest"
      - "{{ calibre_web_automated_data_dir }}/book-downloader/config:/config"
      - "{{ calibre_web_automated_data_dir }}/config/app.db:/auth/app.db:ro"
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:8084/api/status"]
      interval: 30s
      timeout: 30s
      retries: 3

networks:
  caddy:
    external: true
