services:
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:latest@sha256:a4e2089b3531eec8c9328c7a9a586f80e8d67dcd94856e0b596b7896e1de3f62
    container_name: cloudflare-ddns
    network_mode: host
    restart: always
    user: "1000:1000"
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - CLOUDFLARE_API_TOKEN={{ CLOUDFLARE_API_TOKEN }}
      - DOMAINS={{ CLOUDFLARE_DOMAINS }}
