services:
  glance:
    container_name: glance
    image: glanceapp/glance@sha256:6df86a7e8868d1eda21f35205134b1962c422957e42a0c44d4717c8e8f741b1a
    restart: always
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      # For Docker Containers Widget
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # For Server Stats Widget to work (read-only)
      - /mnt/data:/mnt/data:ro
      - /mnt/backup:/mnt/backup:ro
    ports:
      - "{{ GLANCE_PORT }}:8080"
    env_file: .env
