- name: Dashboard
  hide-desktop-navigation: true
  columns:
    - size: small
      widgets:
        - type: bookmarks
          hide-header: true
          groups:
            - title: Services
              links:
                - title: Cloudflare
                  url: https://dash.cloudflare.com
                  icon: di:cloudflare
                - title: FRITZ!Box
                  url: http://192.168.178.1
                  icon: di:fritzbox
                - title: Namecheap
                  url: https://ap.www.namecheap.com/
                  icon: di:namecheap
            - title: Documentation
              links:
                - title: Ansible
                  url: https://docs.ansible.com
                  icon: si:ansible
                - title: AdGuard Home
                  url: https://adguard-dns.io/kb
                  icon: di:adguard-home
                - title: AdventureLog
                  url: https://adventurelog.app/docs/intro/adventurelog_overview.html
                  icon: di:adventure-log
                - title: Authentik
                  url: https://docs.goauthentik.io
                  icon: di:authentik
                - title: Backrest
                  url: https://garethgeorge.github.io/backrest
                  icon: di:backrest
                - title: Beszel
                  url: https://beszel.dev/guide
                  icon: di:beszel
                - title: Caddy
                  url: https://caddyserver.com/docs
                  icon: di:caddy
                - title: Calibre Web Automated
                  url: https://github.com/crocodilestick/Calibre-Web-Automated/wiki
                  icon: di:calibre-web
                - title: Cloudflare DDNS
                  url: https://github.com/favonia/cloudflare-ddns
                  icon: di:cloudflare
                - title: Ente
                  url: https://help.ente.io
                  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/webp/ente-auth.webp
                - title: FreshRSS
                  url: https://freshrss.github.io/FreshRSS/en
                  icon: di:freshrss
                - title: Ghostfolio
                  url: https://github.com/ghostfolio/ghostfolio
                  icon: di:ghostfolio
                - title: Gitea
                  url: https://docs.gitea.com
                  icon: di:gitea
                - title: Glance
                  url: https://github.com/glanceapp/glance/blob/main/docs/configuration.md
                  icon: di:glance
                - title: Immich
                  url: https://immich.app/docs
                  icon: di:immich
                - title: n8n
                  url: https://docs.n8n.io/
                  icon: di:n8n
                - title: Nextcloud
                  url: https://github.com/nextcloud/all-in-one
                  icon: di:nextcloud
                - title: Pocket ID
                  url: https://pocket-id.org/docs
                  icon: di:pocket-id
                - title: Vaultwarden
                  url: https://github.com/dani-garcia/vaultwarden/wiki
                  icon: si:vaultwarden
                - title: wger
                  url: https://wger.readthedocs.io
                  icon: di:wger
                - title: WireGuard Easy
                  url: https://wg-easy.github.io/wg-easy/latest
                  icon: di:wireguard
                - title: Yamtrack
                  url: https://github.com/FuzzyGrim/Yamtrack/wiki
                  icon: di:yamtrack
            - title: Selfhosted
              links:
                - title: Awesome Selfhosted
                  url: https://awesome-selfhosted.net
                  icon: https://awesome-selfhosted.net/_static/logo.svg
                - title: Awesome Sysadmin
                  url: https://github.com/awesome-foss/awesome-sysadmin
                  icon: https://avatars.githubusercontent.com/u/20512645
            - title: Repositories
              links:
                - title: Raspberry Pi 5
                  url: https://github.com/Nitestack/raspberry-pi-5
                  icon: di:github

    - size: full
      widgets:
        - type: docker-containers
          hide-header: true
          containers:
            adguard-home:
              name: AdGuard Home
              icon: di:adguard-home
              url: ${ADGUARD_HOME_URL}
              description: Network-wide Ad Blocker
            adventurelog-frontend:
              name: AdventureLog
              icon: di:adventure-log
              url: ${ADVENTURE_LOG_URL}
              description: Travel Tracker
              id: adventurelog
            adventurelog-backend:
              name: Backend
              parent: adventurelog
            adventurelog-db:
              name: PostGIS
              parent: adventurelog
            authentik-server:
              name: Authentik
              icon: di:authentik
              url: ${AUTHENTIK_URL}
              description: IdP & SSO
              id: authentik
            authentik-postgres:
              name: PostgreSQL
              parent: authentik
            authentik-redis:
              name: Redis
              parent: authentik
            authentik-worker:
              name: Worker
              parent: authentik
            backrest:
              name: Backrest
              icon: di:backrest
              url: ${BACKREST_URL}
              description: Backup Manager
            beszel:
              name: Beszel
              icon: di:beszel
              url: ${BESZEL_URL}
              description: Server Monitoring
              id: beszel
            beszel-agent:
              name: Agent
              parent: beszel
            caddy:
              name: Caddy
              icon: di:caddy
              description: HTTPS Server
            calibre-web-automated:
              name: Calibre Web Automated
              icon: di:calibre-web
              url: ${CALIBRE_WEB_AUTOMATED_URL}
              description: eBook Manager
            cloudflare-ddns:
              name: Cloudflare DDNS
              icon: di:cloudflare
              description: Dynamic DNS Updater
            ente-web:
              name: Ente Auth
              icon: https://cdn.jsdelivr.net/gh/selfhst/icons/webp/ente-auth.webp
              url: ${ENTE_AUTH_URL}
              description: Two-factor Authenticator
              id: ente
            ente-museum:
              name: Museum (API Server)
              parent: ente
            ente-postgres:
              name: PostgreSQL
              parent: ente
            freshrss:
              name: FreshRSS
              icon: di:freshrss
              url: ${FRESHRSS_URL}
              description: Feed Aggregator
            ghostfolio:
              name: Ghostfolio
              icon: di:ghostfolio
              url: ${GHOSTFOLIO_URL}
              description: Wealth Manager
              id: ghostfolio
            ghostfolio-postgres:
              name: PostgreSQL
              parent: ghostfolio
            ghostfolio-redis:
              name: Redis
              parent: ghostfolio
            gitea:
              name: Gitea
              icon: di:gitea
              url: ${GITEA_URL}
              description: Development Platform
              id: gitea
            glance:
              name: Glance
              icon: di:glance
              url: ${GLANCE_URL}
              description: Dashboard
            immich_server:
              name: Immich
              icon: di:immich
              url: ${IMMICH_URL}
              description: Image & Video Manager
              id: immich
            immich_machine_learning:
              name: Machine Learning
              parent: immich
            immich_redis:
              name: Valkey
              parent: immich
            immich_postgres:
              name: PostgreSQL
              parent: immich
            n8n:
              name: n8n
              icon: di:n8n
              url: ${N8N_URL}
              description: Workflow Automation
            nextcloud-aio-nextcloud:
              name: NextCloud
              icon: di:nextcloud
              url: ${NEXTCLOUD_URL}
              description: Cloud
              id: nextcloud
            nextcloud-aio-mastercontainer:
              name: All-in-One
              parent: nextcloud
            nextcloud-aio-apache:
              name: Apache
              parent: nextcloud
            nextcloud-aio-database:
              name: Database
              parent: nextcloud
            nextcloud-aio-notify-push:
              name: Notify Push
              parent: nextcloud
            nextcloud-aio-redis:
              name: Redis
              parent: nextcloud
            nextcloud-aio-collabora:
              name: Collabora
              parent: nextcloud
            nextcloud-aio-imaginary:
              name: Imaginary
              parent: nextcloud
            nextcloud-aio-whiteboard:
              name: Whiteboard
              parent: nextcloud
            nextcloud-aio-borgbackup:
              hide: true
            nextcloud-aio-watchtower:
              hide: true
            personal-site:
              name: Personal Site
              icon: https://npham.de/favicon.ico
              url: https://npham.de
              description: Personal Site
            pocket-id:
              name: Pocket ID
              icon: di:pocket-id
              url: ${POCKET_ID_URL}
              description: OIDC Provider
            vaultwarden:
              name: Vaultwarden
              icon: si:vaultwarden
              url: ${VAULTWARDEN_URL}
              description: Password Manager
            wg-easy:
              name: WireGuard Easy
              icon: di:wireguard
              url: ${WG_EASY_URL}
              description: VPN
            wger-web:
              name: wger
              icon: di:wger
              url: ${WGER_URL}
              description: Fitness Tracker
              id: wger
            wger-postgres:
              name: PostgreSQL
              parent: wger
            wger-redis:
              name: Redis
              parent: wger
            wger-celery-worker:
              name: Celery Worker
              parent: wger
            wger-celery-beat:
              name: Celery Beat
              parent: wger
            yamtrack:
              name: Yamtrack
              icon: di:yamtrack
              url: ${YAMTRACK_URL}
              description: Media Tracker
              id: yamtrack
            yamtrack-redis:
              name: Redis
              parent: yamtrack
        - type: group
          widgets:
            - type: reddit
              subreddit: selfhosted
            - type: reddit
              subreddit: sysadmin
            - type: reddit
              subreddit: homelab
            - type: hacker-news
            - type: lobsters

        - type: videos
          channels:
            - UCZNhwA1B5YqiY1nLzmM0ZRg # Christian Lempa
            - UCgdTVe88YVSrOZ9qKumhULQ # Hardware Haven
            - UCR-DXc1voovS8nhAvccRZhg # Jeff Geerling
            - UC9x0AN7BWHpCDHSm9NiJFJQ # NetworkChuck
            - UCjSEJkpGbcZhvo0lr-44X_w # TechHut
            - UCOk-gHyjcWZNj3Br4oxwh0A # Techno Tim
            - UCsnGwSIHyoYN0kiINAGUKxg # Wolfgang's Channel

    - size: small
      widgets:
        - type: dns-stats
          service: adguard
          url: ${ADGUARD_HOME_URL}
          username: ${ADGUARD_HOME_USERNAME}
          password: ${ADGUARD_HOME_PASSWORD}
        - type: custom-api
          title: Immich stats
          cache: 1d
          url: ${IMMICH_URL}/api/server/statistics
          headers:
            x-api-key: ${IMMICH_API_KEY}
            Accept: application/json
          template: |
            <div class="flex justify-between text-center">
              <div data-popover-type="html">
                {{ $photos := .JSON.Int "photos" -}}
                <div class="color-highlight size-h3">{{ $photos | formatNumber }}</div>
                <div class="size-h6">PHOTOS</div>
                <div data-popover-html>
                  <ul class="list list-gap-2">
                    {{- range (sortByInt "photos" "des" (.JSON.Array "usageByUser")) }}
                    {{ if ne (.Int "photos") 0 -}}
                    <li class="flex">
                      <div class="size-h5">{{ .String "userName" }}</div>
                      <div class="value-separator"></div>
                      <div class="color-highlight text-very-compact">{{ .Int "photos" }} <span class="color-base size-h5">/</span> {{ $photos }}</div>
                    </li>
                    {{- end }}
                    {{- end }}
                  </ul>
                </div>
              </div>
              <div data-popover-type="html">
                {{ $videos := .JSON.Int "videos" -}}
                <div class="color-highlight size-h3">{{ $videos | formatNumber }}</div>
                <div class="size-h6">VIDEOS</div>
                <div data-popover-html>
                  <ul class="list list-gap-2">
                    {{- range (sortByInt "videos" "des" (.JSON.Array "usageByUser")) }}
                    {{ if ne (.Int "videos") 0 -}}
                    <li class="flex">
                      <div class="size-h5">{{ .String "userName" }}</div>
                      <div class="value-separator"></div>
                      <div class="color-highlight text-very-compact">{{ .Int "videos" }} <span class="color-base size-h5">/</span> {{ $videos }}</div>
                    </li>
                    {{- end }}
                    {{- end }}
                  </ul>
                </div>
              </div>
              <div data-popover-type="html">
                {{ $usage := div (.JSON.Int "usage" | toFloat) 1073741824 | toInt -}}
                <div class="color-highlight size-h3">{{ $usage | formatNumber }}<span class="color-base">GB</span></div>
                <div class="size-h6">USAGE</div>
                <div data-popover-html>
                  <ul class="list list-gap-2">
                    {{- range (sortByInt "usage" "des" (.JSON.Array "usageByUser")) }}
                    {{ if ne (.Int "usage") 0 -}}
                    <li class="flex">
                      <div class="size-h5">{{ .String "userName" }}</div>
                      <div class="value-separator"></div>
                      <div class="color-highlight text-very-compact">
                        {{ div (.Int "usage" | toFloat) 1073741824 | toInt }}
                        <span class="color-base size-h5">/</span>
                        {{ $usage }}
                        <span class="color-base">GB</span>
                      </div>
                    </li>
                    {{- end }}
                    {{- end }}
                  </ul>
                </div>
              </div>
            </div>
        - type: releases
          token: ${GITHUB_API_TOKEN}
          show-source-icon: true
          collapse-after: -1
          limit: 21
          repositories:
            - AdguardTeam/AdGuardHome
            - seanmorley15/AdventureLog
            - goauthentik/authentik
            - garethgeorge/backrest
            - henrygd/beszel
            - caddyserver/caddy
            - crocodilestick/Calibre-Web-Automated
            - favonia/cloudflare-ddns
            - ente-io/ente
            - FreshRSS/FreshRSS
            - ghostfolio/ghostfolio
            - go-gitea/gitea
            - glanceapp/glance
            - immich-app/immich
            - n8n-io/n8n
            - nextcloud/all-in-one
            - pocket-id/pocket-id
            - dani-garcia/vaultwarden
            - wg-easy/wg-easy
            - wger-project/wger
            - FuzzyGrim/Yamtrack
