# Global Secrets
smtp_password: ""

# Backup Secrets
restic_password: ""

# Proton Drive
rclone_proton_username: ""
rclone_proton_password: ""
rclone_proton_client_uid: ""
rclone_proton_client_access_token: ""
rclone_proton_client_refresh_token: ""
rclone_proton_client_salted_key_pass: ""

# OneDrive
rclone_onedrive_drive_id: ""
rclone_onedrive_token: '{"access_token":"...","token_type":"...","refresh_token":"...","expiry":"...","expires_in":"..."}'

# Service Secrets

# AdventureLog
adventure_log_db_password: ""
adventure_log_secret_key: ""
adventure_log_admin_password: ""
adventure_log_google_maps_api_key: "" # Geocoding and Places (New) API

# Beszel
beszel_email: ""
beszel_password: ""
beszel_agent_token: ""
beszel_agent_key: ""

# Caddy
cloudflare_api_token: ""

# Calibre Web Automated
calibre_web_automated_hardcover_token: ""

# Cloudflared
cloudflared_token: ""

# Ente Auth
ente_jwt_secret: "" # head -c 32 /dev/urandom | base64 | tr -d '\n' | tr '+/' '-_'
ente_db_password: "" # head -c 21 /dev/urandom | base64 | tr -d '\n'

# Ghostfolio
ghostfolio_db_password: ""
ghostfolio_redis_password: ""
ghostfolio_salt: ""
ghostfolio_jwt_secret: ""
ghostfolio_oidc_client_id: ""
ghostfolio_oidc_client_secret: ""

# Glance
glance_user: ""
glance_secret: "" # docker run --rm glanceapp/glance secret:make
glance_password_hash: "" # docker run --rm glanceapp/glance password:hash <password>

adguard_home_username: ""
adguard_home_password: ""
immich_api_key: ""
github_api_token: ""

# Immich
immich_db_password: "" # Please only use the characters `A-Za-z0-9`, without special characters or spaces

# Pocket ID
pocket_id_encryption_key: "" # openssl rand -base64 32
pocket_id_maxmind_license_key: ""

# wger
wger_secret_key: "" # https://djecrety.ir
wger_signing_key: ""
wger_db_password: ""
wger_celery_flower_password: ""

# Yamtrack
yamtrack_secret_key: "" # https://djecrety.ir
yamtrack_oidc_client_id: ""
yamtrack_oidc_secret: ""
