services:
  cloudflared:
    image: cloudflare/cloudflared:2026.5.2@sha256:12ff5c6992a9863db4da270746af7c244bcaee49353039af8104268a18d6c4f0
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    restart: always
    network_mode: host
    environment:
      TUNNEL_TOKEN: "{{ cloudflared_token }}"
