# external-file: https://raw.githubusercontent.com/wg-easy/wg-easy/refs/heads/master/docker-compose.yml
# digest: 5b0dc49f13d79d51bfef7c9a4f5c71ffa84ed5526783c4bc16b155e70e61598d

services:
  wg-easy:
    environment:
      - PORT={{ services.wg_easy.port }}
    #  - HOST=0.0.0.0

    image: ghcr.io/wg-easy/wg-easy:15@sha256:bb8152762c36f824eb42bb2f3c5ab8ad952818fbef677d584bc69ec513b251b0
    container_name: wg-easy
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - "{{ wg_easy_data_dir }}/data:/etc/wireguard"
      - /lib/modules:/lib/modules:ro
    ports:
      - "{{ vpn_port }}:51820/udp"
      - "127.0.0.1:{{ services.wg_easy.port }}:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

networks:
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
