# external-file
# owner: wg-easy
# repo: wg-easy
# path: docker-compose.yml
# commit-hash: 0f6f07161b7a824b5b7f0a2f599a949dbae3355b

services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15@sha256:bb8152762c36f824eb42bb2f3c5ab8ad952818fbef677d584bc69ec513b251b0
    container_name: "wg-easy"
    restart: always
    networks:
      - caddy
    volumes:
      - "{{ wg_easy_data_dir }}/data:/etc/wireguard"
    ports: !override
      - "51820:51820/udp"

networks:
  caddy:
    external: true
