services:
  calibre-web:
    image: linuxserver/calibre-web:0.6.25@sha256:f3d82c71b8a97c09c182503ac14baa4e547f8dbf6f0a83531d81e779f2f51d64
    container_name: "{{ services.calibre_web.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - "{{ calibre_web_data_dir }}/data:/config"
      - "{{ calibre_web_data_dir }}/books:/books"

networks:
  caddy:
    external: true
