services:
  beets:
    image: linuxserver/beets:2.6.2@sha256:6286bf8369128b43d8320f80bb298beaa9326366d7a7c678a37ebdb87bf81850
    container_name: beets
    restart: always
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ beets_data_dir }}/config:/config"
      - "{{ music_library_dir }}:/music"
      - "{{ rdtclient_data_dir }}/downloads:/downloads"
