services:
  beets:
    image: linuxserver/beets:2.5.1@sha256:87e5130e72a506801d4f5ee21a2ce2e57b98f5faccfdb1223f5033fec6ae1f87
    container_name: beets
    restart: always
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ beets_data_dir }}/config:/config"
      - "{{ music_library_dir }}:/music"
      - "{{ rdtclient_data_dir }}/downloads:/downloads"
