services:
  beets:
    image: linuxserver/beets:2.5.1@sha256:82d042fa56b3371bd12442446c7c78af312871dcf94344409dbee0678b9f910e
    container_name: "{{ services.beets.container_name }}"
    restart: always
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - "{{ beets_data_dir }}/config:/config"
      - "{{ music_library_dir }}:/music"
      - "{{ rdtclient_data_dir }}/downloads:/downloads"
