# renovate: datasource=url depName=glance-compose versioning=digest
# url: https://raw.githubusercontent.com/glanceapp/docker-compose-template/refs/heads/main/root/docker-compose.yml
# digest: sha256:b5042d5d7d8ec8de68a79ce5719a283aeb22cfc623322f540db0b29aae81af00

services:
  glance:
    container_name: glance
    image: glanceapp/glance@sha256:6df86a7e8868d1eda21f35205134b1962c422957e42a0c44d4717c8e8f741b1a
    restart: always
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      # For Docker Containers Widget
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # For Server Stats Widget to work (read-only)
      - /mnt/data:/mnt/data:ro
      - /mnt/backup:/mnt/backup:ro
    ports:
      - "127.0.0.1:{{ services.glance.port }}:8080"
    env_file: .env
