# external-file
# owner: glanceapp
# repo: docker-compose-template
# path: root/docker-compose.yml
# commit-hash: 1b0af54f831f26bc01873514a52be3d393665e06

services:
  glance:
    image: glanceapp/glance:v0.8.5@sha256:32ab73d80f2b8b5fb0735b0431deb36b93fbb6b2fb43592449b0178c8b83e350
    restart: always
    networks:
      - default
      - caddy
    volumes:
      - "{{ glance_service_dir }}/config:/app/config"
      - "{{ glance_service_dir }}/assets:/app/assets"
      - "{{ data_base_dir }}:{{ data_base_dir }}:ro"
      - "{{ backup_base_dir }}:{{ backup_base_dir }}:ro"
      # Optionally, also mount docker socket if you want to use the docker containers widget
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports: !reset []

networks:
  caddy:
    external: true
