# external-file: https://raw.githubusercontent.com/glanceapp/docker-compose-template/refs/heads/main/root/docker-compose.yml
# digest: b5042d5d7d8ec8de68a79ce5719a283aeb22cfc623322f540db0b29aae81af00

services:
  glance:
    image: glanceapp/glance:v0.8.4
    restart: always
    volumes:
      - "{{ glance_service_dir }}/config:/app/config"
      - "{{ glance_service_dir }}/assets:/app/assets"
      - "{{ data_base_dir }}:{{ data_base_dir }}:ro"
      - "{{ backup_base_dir }}:{{ backup_base_dir }}:ro"
      # Optionally, also mount docker socket if you want to use the docker containers widget
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports: !override
      - "127.0.0.1:{{ services.glance.port }}:8080"
