# external-file
# owner: calibrain
# repo: shelfmark
# path: compose/docker-compose.tor.yml
# commit-hash: 8470095534330762c85067ffffa2d333fcf0be48

services:
  shelfmark-tor:
    image: ghcr.io/calibrain/shelfmark:v1.0.3@sha256:13b16443d711baf9f157ddbeeae8612a609702697075d83a03f1ef5312ac10c4
    container_name: "{{ services.shelfmark.container_name }}"
    networks:
      - caddy
    restart: always
    ports: !reset []
    volumes:
      - "{{ calibre_web_automated_data_dir }}/upload:/books"
      - "{{ shelfmark_data_dir }}/config:/config"
      # Authentication
      - "{{ calibre_web_automated_data_dir }}/config/app.db:/auth/app.db:ro"
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:8084/api/health"]
      interval: 30s
      timeout: 30s
      retries: 3

networks:
  caddy:
    external: true
