services:
  backrest:
    image: garethgeorge/backrest:v1.9.2
    container_name: backrest
    restart: always
    volumes:
      - "{{ backrest_data_dir }}/data:/data"
      - "{{ backrest_data_dir }}/config:/config"
      - "{{ backrest_data_dir }}/cache:/cache"
      - "{{ backrest_data_dir }}/tmp:/tmp"
      - "/root/.config/rclone:/root/.config/rclone"
      - "{{ backup_base_dir }}:{{ backup_base_dir }}:ro"
    environment:
      BACKREST_DATA: "/data"
      BACKREST_CONFIG: "/config/config.json"
      RESTIC_PASSWORD: "{{ restic_password }}"
      XDG_CACHE_HOME: "/cache"
      TMPDIR: "/tmp"
      TZ: "{{ timezone }}"
    ports:
      - "127.0.0.1:{{ services.backrest.port }}:9898"
