services:
  web:
    build: .
    container_name: "{{ services.personal_site.container_name }}"
    restart: always
    networks:
      - caddy
    env_file: .env

networks:
  caddy:
    external: true
