services:
  vaultwarden:
    image: vaultwarden/server:latest@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
    container_name: "{{ services.vaultwarden.container_name }}"
    restart: always
    networks:
      - caddy
    volumes:
      - "{{ vaultwarden_data_dir }}/data:/data"
    environment:
      DOMAIN: "https://{{ services.vaultwarden.domain }}"
      SIGNUPS_ALLOWED: "{{ vaultwarden_signups_allowed }}"
      SMTP_HOST: "{{ smtp_host }}"
      SMTP_PORT: "{{ smtp_port }}"
      SMTP_SECURITY: "starttls"
      SMTP_FROM: "{{ no_reply_mail }}"
      SMTP_USERNAME: "{{ no_reply_mail }}"
      SMTP_PASSWORD: "{{ smtp_password }}"

networks:
  caddy:
    external: true
