services:
  vaultwarden:
    image: vaultwarden/server:latest@sha256:43498a94b22f9563f2a94b53760ab3e710eefc0d0cac2efda4b12b9eb8690664
    container_name: "{{ services.vaultwarden.container_name }}"
    restart: always
    networks:
      - caddy
    volumes:
      - "{{ vaultwarden_data_dir }}/data:/data"
    environment:
      DOMAIN: "https://{{ services.vaultwarden.domain }}"
      SIGNUPS_ALLOWED: "{{ vaultwarden_signups_allowed }}"
      SMTP_HOST: "{{ smtp_host }}"
      SMTP_PORT: "{{ smtp_port }}"
      SMTP_SECURITY: "starttls"
      SMTP_FROM: "{{ no_reply_mail }}"
      SMTP_USERNAME: "{{ no_reply_mail }}"
      SMTP_PASSWORD: "{{ smtp_password }}"

networks:
  caddy:
    external: true
