services:
  vaultwarden:
    image: vaultwarden/server:latest@sha256:9a8eec71f4a52411cc43edc7a50f33e9b6f62b5baca0dd95f0c6e7fd60f1a341
    container_name: "{{ services.vaultwarden.container_name }}"
    restart: always
    networks:
      - caddy
    volumes:
      - "{{ vaultwarden_data_dir }}/data:/data"
    environment:
      DOMAIN: "https://{{ services.vaultwarden.domain }}"
      SIGNUPS_ALLOWED: "{{ vaultwarden_signups_allowed }}"
      SMTP_HOST: "{{ smtp_host }}"
      SMTP_PORT: "{{ smtp_port }}"
      SMTP_SECURITY: "starttls"
      SMTP_FROM: "{{ no_reply_mail }}"
      SMTP_USERNAME: "{{ no_reply_mail }}"
      SMTP_PASSWORD: "{{ smtp_password }}"

networks:
  caddy:
    external: true
