# external-file
# owner: pocket-id
# repo: pocket-id
# path: docker-compose.yml
# commit-hash: cd2e9f3a2ad753815ef8da998f9b54853d953a2a

services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2.6.0@sha256:802bea744411ebddb9f479b92c50b584d8d3026f7a463907d3da4f2da9ec946c
    container_name: "{{ services.pocket_id.container_name }}"
    restart: always
    networks:
      - caddy
    env_file:
      - .env
      - .env.override
    ports: !reset []
    volumes:
      - "{{ pocket_id_data_dir }}/data:/app/data"

networks:
  caddy:
    external: true
