# external-file
# owner: pocket-id
# repo: pocket-id
# path: docker-compose.yml
# commit-hash: cd2e9f3a2ad753815ef8da998f9b54853d953a2a

services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2.9.0@sha256:db1ff4e328c96900f249b7a45970f537e8549f632d7a0556d2f6a0fc932551f9
    container_name: "{{ services.pocket_id.container_name }}"
    restart: always
    networks:
      - caddy
    env_file:
      - .env
      - .env.override
    ports: !reset []
    volumes:
      - "{{ pocket_id_data_dir }}/data:/app/data"

networks:
  caddy:
    external: true
