# external-file
# owner: pocket-id
# repo: pocket-id
# path: docker-compose.yml
# commit-hash: cd2e9f3a2ad753815ef8da998f9b54853d953a2a

services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2.0.2@sha256:269114270d980c3948029365e8b1dc423d9080e4f9e8a7c8e39e4c4c68ad1cbc
    container_name: "{{ services.pocket_id.container_name }}"
    restart: always
    networks:
      - caddy
    env_file:
      - .env
      - .env.override
    ports: !reset []
    volumes:
      - "{{ pocket_id_data_dir }}/data:/app/data"

networks:
  caddy:
    external: true
