---
- name: Deploy NextCloud
  ansible.builtin.include_role:
    name: service_deploy
  vars:
    service_name: "NextCloud"
    service_dir_name: "{{ nextcloud_dir_name }}"
    compose_url: "https://raw.githubusercontent.com/nextcloud/all-in-one/10b61a5edea92eab87a4c7de1ca37172c0edd9a4/compose.yaml"
