---
- name: Deploy NextCloud
  ansible.builtin.include_role:
    name: service_deploy
  vars:
    service_name: "NextCloud"
    service_dir_name: "{{ nextcloud_dir_name }}"
    compose_url: "https://raw.githubusercontent.com/nextcloud/all-in-one/143cf5157cd9bc2caabeb2ff87305a62101b8187/compose.yaml"
