# external-file
# owner: CodeWithCJ
# repo: SparkyFitness
# path: docker/docker-compose.prod.yml
# commit-hash: 90f893d89797b63bd81b396b3bf0dad255888e34

services:
  sparkyfitness-db:
    image: postgres:18.3-alpine@sha256:4da1a4828be12604092fa55311276f08f9224a74a62dcb4708bd7439e2a03911
    container_name: "sparkyfitness-db"
    restart: always
    volumes: !override
      - ${DB_PATH:-./postgresql}:/var/lib/postgresql
  sparkyfitness-server:
    image: codewithcj/sparkyfitness_server:v0.16.5.4@sha256:d2d95f85662fe53a03f22ccb21dc0c3249d2ab7298c18c284a749172baa7b2c2
    container_name: "sparkyfitness-server"
    restart: always
  sparkyfitness-frontend:
    image: codewithcj/sparkyfitness:v0.16.5.4@sha256:b5e821af455109d1ce6e2bb61b043b0836cae021344304d1f80e9ec42f523a54
    container_name: "{{ services.sparky_fitness.container_name }}"
    restart: always
    networks:
      - sparkyfitness-network
      - caddy
    ports: !reset []

networks:
  caddy:
    external: true
