services:
  server:
    image: gitea/gitea:1.24.6@sha256:2edc102cbb636ae1ddac5fa0c715aa5b03079dee13ac6800b2cef6d4e912e718
    container_name: "{{ services.gitea.container_name }}"
    environment:
      USER_UID: 1000
      USER_GID: 1000
      # Server
      GITEA__server__ROOT_URL: "https://{{ services.gitea.domain }}"
      GITEA__server__SSH_PORT: {{ gitea_ssh_port }}
      GITEA__server__LANDING_PAGE: "/Nitestack"
      # Service
      GITEA__service__DISABLE_REGISTRATION: {{ gitea_disable_registration }}
      # Repository
      GITEA__repository__DISABLE_STARS: true
      GITEA__repository__ENABLE_PUSH_CREATE_USER: true
      GITEA__repository.pull-request__DEFAULT_MERGE_STYLE: "rebase-merge"
      # UI
      GITEA__ui__THEMES: "gitea-auto, gitea-light, gitea-dark, github-auto, github-light, github-dark, github-soft-dark"
      GITEA__ui__DEFAULT_THEME: "github-auto"
      # Mailer
      GITEA__mailer__ENABLED: true
      GITEA__mailer__FROM: "{{ no_reply_mail }}"
      GITEA__mailer__PROTOCOL: "smtp+starttls"
      GITEA__mailer__SMTP_ADDR: {{ smtp_host }}
      GITEA__mailer__SMTP_PORT: {{ smtp_port }}
      GITEA__mailer__USER: "{{ no_reply_mail }}"
      GITEA__mailer__PASSWD: "{{ smtp_password }}"
      # Other
      GITEA__other__SHOW_FOOTER_VERSION: false
      GITEA__other__SHOW_FOOTER_TEMPLATE_LOAD_TIME: false
    restart: always
    networks:
      - default
      - caddy
    volumes:
      - "{{ gitea_data_dir }}/data:/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ gitea_ssh_port }}:22"
  runner:
    image: gitea/act_runner:0.2.13@sha256:8477d5b61b655caad4449888bae39f1f34bebd27db56cb15a62dccb3dcf3a944
    container_name: "gitea-action-runner"
    environment:
      GITEA_INSTANCE_URL: "https://{{ services.gitea.domain }}"
      GITEA_RUNNER_REGISTRATION_TOKEN: "{{ gitea_runner_registration_token }}"
      GITEA_RUNNER_NAME: "Raspberry Pi 5"
    volumes:
      - "{{ gitea_act_runner_data_dir }}/data:/data"
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  caddy:
    external: true
