# external-file
# owner: ghostfolio
# repo: ghostfolio
# path: docker/docker-compose.yml
# commit-hash: aca4c3d46dce1169bf7cbe8542521dfb9d12e796

services:
  ghostfolio:
    image: ghostfolio/ghostfolio:3.14.0@sha256:36c6f0526f6da839ec14c1fa401bb63d0788843646ce058c1e04fea98d849bd0
    container_name: "{{ services.ghostfolio.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    env_file: !override .env
    ports: !reset []

  postgres:
    image: postgres:18-alpine@sha256:1b1689b20d16a014a3d195653381cf2caa75a41a92d93b255a9d6ea29fd353aa
    container_name: "ghostfolio-postgres"
    restart: always
    env_file: !override .env
    volumes:
      - "{{ ghostfolio_data_dir }}/db:/var/lib/postgresql/data"

  redis:
    image: redis:alpine@sha256:9eb6a7ba3d344e1958c7e1589fa3dee90373a934e8159c634562a91d622759a0
    container_name: "ghostfolio-redis"
    restart: always
    env_file: !override .env

networks:
  caddy:
    external: true
