# external-file: https://raw.githubusercontent.com/ghostfolio/ghostfolio/refs/heads/main/docker/docker-compose.yml
# digest: 15883c8dfa24e4fdb4ac501b3614e5eb85963b7bca96b6418546e5c706e614f2

services:
  ghostfolio:
    image: ghostfolio/ghostfolio:2.200.0@sha256:b7686e6ff8dfaa2a76bd1a0f853c151b3923de38209d1185828d2e062b6377ac
    restart: always
    env_file: !override .env
    ports: !override
      - "127.0.0.1:{{ services.ghostfolio.port }}:3333"

  postgres:
    image: postgres:17-alpine@sha256:d5f196a551b5cef1c70853c6dd588f456d16ca4ea733e3f31c75bc1ae2f65f3f
    restart: always
    env_file: !override .env
    volumes:
      - "{{ ghostfolio_data_dir }}/db:/var/lib/postgresql/data"

  redis:
    image: redis:alpine@sha256:987c376c727652f99625c7d205a1cba3cb2c53b92b0b62aade2bd48ee1593232
    restart: always
    env_file: !override .env
