# external-file
# owner: ghostfolio
# repo: ghostfolio
# path: docker/docker-compose.yml
# commit-hash: aca4c3d46dce1169bf7cbe8542521dfb9d12e796

services:
  ghostfolio:
    image: ghostfolio/ghostfolio:2.220.0@sha256:813120993c6db2f78617bca2c394d191bfcff738b41c66ae785f615948af3d7e
    container_name: "{{ services.ghostfolio.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    env_file: !override .env
    ports: !reset []

  postgres:
    image: postgres:15-alpine@sha256:aa7b1ef595e165f0b780162e3a41edd0a7ed3ea672eb8a0f81615ba725e62bc5
    container_name: "ghostfolio-postgres"
    restart: always
    env_file: !override .env
    volumes:
      - "{{ ghostfolio_data_dir }}/db:/var/lib/postgresql/data"

  redis:
    image: redis:alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    container_name: "ghostfolio-redis"
    restart: always
    env_file: !override .env

networks:
  caddy:
    external: true
