services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:v0.36.0@sha256:ae3aab4776357367ce3a2bc7dc9fab80e89d552108a2237ed6135522f6fb3b38
    container_name: "{{ services.zerobyte.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      TZ: "{{ timezone }}"
      BASE_URL: "https://{{ services.zerobyte.domain }}"
      APP_SECRET: "{{ zerobyte_app_secret }}"
      TRUSTED_ORIGINS: "https://{{ services.pocket_id.domain }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ zerobyte_data_dir }}/data:/var/lib/zerobyte"
      - "/root/.config/rclone:/root/.config/rclone"
      - "{{ backup_base_dir }}:{{ backup_base_dir }}"

networks:
  caddy:
    external: true
