services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:v0.35.0@sha256:3a3d7a13e0374e97c3d5f3ffd6e430e4d6ef766fe7af262ac7efe7992d87d842
    container_name: "{{ services.zerobyte.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      TZ: "{{ timezone }}"
      BASE_URL: "https://{{ services.zerobyte.domain }}"
      APP_SECRET: "{{ zerobyte_app_secret }}"
      TRUSTED_ORIGINS: "https://{{ services.pocket_id.domain }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ zerobyte_data_dir }}/data:/var/lib/zerobyte"
      - "/root/.config/rclone:/root/.config/rclone"
      - "{{ backup_base_dir }}:{{ backup_base_dir }}"

networks:
  caddy:
    external: true
