services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:v0.37.0@sha256:06c59c45e201d1c4fe0e68e76fa192a790962441c2078e2f48f7671982d60375
    container_name: "{{ services.zerobyte.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      TZ: "{{ timezone }}"
      BASE_URL: "https://{{ services.zerobyte.domain }}"
      APP_SECRET: "{{ zerobyte_app_secret }}"
      TRUSTED_ORIGINS: "https://{{ services.pocket_id.domain }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ zerobyte_data_dir }}/data:/var/lib/zerobyte"
      - "/root/.config/rclone:/root/.config/rclone"
      - "{{ backup_base_dir }}:{{ backup_base_dir }}"

networks:
  caddy:
    external: true
