{% for name, service in services.items() %}
{{ service.domain }} {
{% if name == "adventure_log" %}
	@frontend {
		not path /media* /admin* /static* /accounts*
	}
	reverse_proxy @frontend {{ service.frontend_container_name }}:{{ service.frontend_port }}
	reverse_proxy {{ service.backend_container_name }}:{{ service.backend_port }}
{% elif name == "beszel" %}
	request_body {
		max_size 10MB
	}
	reverse_proxy {{ service.container_name }}:{{ service.port }} {
		transport http {
			read_timeout 360s
		}
	}
{% elif name == "nextcloud" %}
	header Strict-Transport-Security max-age=31536000;
	reverse_proxy {{ service.container_name }}:{{ service.port }}
{% elif name == "nextcloud_aio" %}
	reverse_proxy {{ service.container_name }}:{{ service.port }} {
		transport http {
			tls_insecure_skip_verify
		}
	}
{% elif name == "vaultwarden" %}
	encode zstd gzip
	reverse_proxy {{ service.container_name }}:{{ service.port }} {
		header_up X-Real-IP {remote_host}
	}
{% else %}
	reverse_proxy {{ service.container_name }}:{{ service.port }}
{% endif %}
}
{% endfor %}
