services:
  caddy:
    image: caddy:2.10.2@sha256:786b7527345b82faf39e664ea26c71cc57bcb3a89bb2eada94bf0b2dc5304f0a
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - caddy
    volumes:
      - "{{ caddy_service_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "{{ caddy_data_dir }}/data:/data"
      - "{{ caddy_data_dir }}/config:/config"

      # wger file server volumes
      - "{{ wger_data_dir }}/static:/srv/wger/static:ro"
      - "{{ wger_data_dir }}/media:/srv/wger/media:ro"

networks:
  caddy:
    name: caddy
