services:
  caddy:
    image: caddy:2.10.2@sha256:cef7fe17d4df3b0843eae25bed319d6140b1a7bb13ccef076f5f1783d5bca9b1
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - caddy
    volumes:
      - "{{ caddy_service_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "{{ caddy_data_dir }}/data:/data"
      - "{{ caddy_data_dir }}/config:/config"

      # wger file server volumes
      - "{{ wger_data_dir }}/static:/srv/wger/static:ro"
      - "{{ wger_data_dir }}/media:/srv/wger/media:ro"

networks:
  caddy:
    name: caddy
