services:
  prowlarr:
    image: linuxserver/prowlarr:2.3.0@sha256:d3e9307b320b6772749a2cf8fc2712e9e824c4930b034680ad4d08a9e2f25884
    container_name: "{{ services.prowlarr.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - "{{ prowlarr_data_dir }}/data:/config"
  flaresolverr:
    image: flaresolverr/flaresolverr:v3.4.6@sha256:7962759d99d7e125e108e0f5e7f3cdbcd36161776d058d1d9b7153b92ef1af9e
    container_name: flaresolverr
    restart: always
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ prowlarr_data_dir }}/flaresolverr/data:/config"

networks:
  caddy:
    external: true
