services:
  prowlarr:
    image: linuxserver/prowlarr:2.3.0@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
    container_name: "{{ services.prowlarr.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ prowlarr_data_dir }}/data:/config"
  flaresolverr:
    image: flaresolverr/flaresolverr:v3.4.6@sha256:7962759d99d7e125e108e0f5e7f3cdbcd36161776d058d1d9b7153b92ef1af9e
    container_name: flaresolverr
    restart: always
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ prowlarr_data_dir }}/flaresolverr/data:/config"

networks:
  caddy:
    external: true
