services:
  grocy:
    image: linuxserver/grocy:4.6.0@sha256:971fb0b4dac073652915c3c90e540a97d17075f40e2998d2850351c2dc9f1305
    container_name: "{{ services.grocy.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ grocy_data_dir }}/config:/config"

networks:
  caddy:
    external: true
