services:
  grocy:
    image: linuxserver/grocy:4.6.0@sha256:2e30cd100e6526d64045d90dcf65275cfeb7655988046f7fbf4e989ba99c5be7
    container_name: "{{ services.grocy.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ grocy_data_dir }}/config:/config"

networks:
  caddy:
    external: true
