services:
  grocy:
    image: linuxserver/grocy:4.6.0@sha256:fa8194701ba63426e07e269446657bfc8898b8e1e94b677bec6970ef5adcfb32
    container_name: "{{ services.grocy.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ grocy_data_dir }}/config:/config"

networks:
  caddy:
    external: true
