(protected) {
	@blocked not remote_ip {$PUBLIC_IP}
	error @blocked 403

	handle_errors 403 {
		rewrite * /403.html
		file_server {
			root /etc/caddy/errors
		}
	}
}

https://{{ VAULTWARDEN_DOMAIN }} {
	# This setting may have compatibility issues with some browsers
	# (e.g., attachment downloading on Firefox). Try disabling this
	# if you encounter issues.
	encode zstd gzip

	reverse_proxy localhost:{{ VAULTWARDEN_PORT }} {
		# Send the true remote IP to Rocket, so that vaultwarden can put this in the log, so that fail2ban can ban the correct IP.
		header_up X-Real-IP {remote_host}
	}
}

{{ NEXTCLOUD_DOMAIN }} {
	header Strict-Transport-Security max-age=31536000;

	reverse_proxy localhost:{{ NEXTCLOUD_PORT }}
}

{{ IMMICH_DOMAIN }} {
	reverse_proxy localhost:2283
}

{{ ENTE_API_DOMAIN }} {
	reverse_proxy localhost:{{ ENTE_API_PORT }}
}

{{ ENTE_AUTH_DOMAIN }} {
	reverse_proxy localhost:{{ ENTE_AUTH_PORT }}
}

{{ FRESHRSS_DOMAIN }} {
	reverse_proxy localhost:{{ FRESHRSS_PORT }}
}

{{ KARAKEEP_DOMAIN }} {
	reverse_proxy localhost:{{ KARAKEEP_PORT }}
}

{{ GLANCE_DOMAIN }} {
	reverse_proxy localhost:{{ GLANCE_PORT }}
}

{{ ADGUARD_HOME_DOMAIN }} {
	reverse_proxy localhost:{{ ADGUARD_HOME_ADMIN_PORT }}
}
