{{ VAULTWARDEN_URL }} {
	tls {{ ACME_EMAIL }}

	# This setting may have compatibility issues with some browsers
	# (e.g., attachment downloading on Firefox). Try disabling this
	# if you encounter issues.
	encode zstd gzip

	reverse_proxy localhost:{{ VAULTWARDEN_PORT }} {
		# Send the true remote IP to Rocket, so that vaultwarden can put this in the log, so that fail2ban can ban the correct IP.
		header_up X-Real-IP {remote_host}
	}
}

{{ NEXTCLOUD_URL }} {
	tls {{ ACME_EMAIL }}

	header Strict-Transport-Security max-age=31536000;

	reverse_proxy localhost:{{ NEXTCLOUD_PORT }}
}
