# external-file
# owner: nextcloud
# repo: all-in-one
# path: compose.yaml
# commit-hash: 43b04b36f5445799be8a04e04bc42600a9018fd0

services:
  nextcloud-aio-mastercontainer:
    image: nextcloud/all-in-one:latest@sha256:099d024fd92fcea2027b945177902cb7af42da55a38b0eac929192c9a80cec6e
    restart: always
    container_name: "{{ services.nextcloud_aio.container_name }}"
    network_mode: !reset null
    networks:
      - caddy
    ports: !reset []
    environment:
      APACHE_PORT: {{ services.nextcloud.port }}
      APACHE_IP_BINDING: "127.0.0.1"
      APACHE_ADDITIONAL_NETWORK: "caddy"
      SKIP_DOMAIN_VALIDATION: false
      NEXTCLOUD_DATADIR: "{{ nextcloud_data_dir }}/data"

networks:
  caddy:
    external: true
