# external-file
# owner: nextcloud
# repo: all-in-one
# path: compose.yaml
# commit-hash: 10b61a5edea92eab87a4c7de1ca37172c0edd9a4

services:
  nextcloud-aio-mastercontainer:
    image: nextcloud/all-in-one:latest@sha256:090f59bbef2c6753b2ac58163d3bece84b15af19d9d83d02c33da83080cb6400
    restart: always
    container_name: "{{ services.nextcloud_aio.container_name }}"
    network_mode: !reset null
    networks:
      - caddy
    ports: !reset []
    environment:
      APACHE_PORT: {{ services.nextcloud.port }}
      APACHE_IP_BINDING: "127.0.0.1"
      APACHE_ADDITIONAL_NETWORK: "caddy"
      SKIP_DOMAIN_VALIDATION: false
      NEXTCLOUD_DATADIR: "{{ nextcloud_data_dir }}/data"

networks:
  caddy:
    external: true
