# external-file
# owner: nextcloud
# repo: all-in-one
# path: compose.yaml
# commit-hash: 3fc84ee78438fc7c07e8d28f93990911e6ab1b49

services:
  nextcloud-aio-mastercontainer:
    image: ghcr.io/nextcloud-releases/all-in-one:latest@sha256:e7abd7c7f4f28ec63971e92fdcb03d361a85cd3e7d83cd50d19c375cad623614
    restart: always
    container_name: "{{ services.nextcloud_aio.container_name }}"
    network_mode: !reset null
    networks:
      - caddy
    ports: !reset []
    environment:
      APACHE_PORT: {{ services.nextcloud.port }}
      APACHE_IP_BINDING: "127.0.0.1"
      APACHE_ADDITIONAL_NETWORK: "caddy"
      SKIP_DOMAIN_VALIDATION: false
      NEXTCLOUD_DATADIR: "{{ nextcloud_data_dir }}/data"

networks:
  caddy:
    external: true

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
    external: true
