services:
  nextcloud:
    image: nextcloud/all-in-one:latest@sha256:9a5874dbc24e1e0dcc90b308d4bceee8ee9a8d3f7c93bf5f1323b757cc432863
    container_name: nextcloud-aio-mastercontainer
    restart: always
    networks:
      - nextcloud-aio
    ports:
      - "127.0.0.1:{{ NEXTCLOUD_AIO_PORT }}:8080"
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      APACHE_PORT: {{ NEXTCLOUD_PORT }}
      APACHE_IP_BINDING: 127.0.0.1
      NEXTCLOUD_DATADIR: "{{ nextcloud_dir }}/data"

networks:
  nextcloud-aio:
    enable_ipv6: true

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
