# external-file
# owner: FuzzyGrim
# repo: Yamtrack
# path: docker-compose.yml
# commit-hash: 23750cc6141f1032876f49b42d18f5177733abac

services:
  yamtrack:
    image: ghcr.io/fuzzygrim/yamtrack:0.24.7@sha256:4df5f7917657739d2eb5d71de4cff220f74aad6faf2564ed17806390dad08a4e
    container_name: "{{ services.yamtrack.container_name }}"
    restart: always
    environment:
      TZ: "{{ timezone }}"
      SECRET: "{{ yamtrack_secret_key }}"
      URLS: "https://{{ services.yamtrack.domain }}"
      REGISTRATION: "{{ yamtrack_enable_registration }}"
      TMDB_NSFW: "True"
      SOCIAL_PROVIDERS: "allauth.socialaccount.providers.openid_connect"
      SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"pocketid","name":"Pocket ID","client_id":"{{ yamtrack_oidc_client_id }}","secret":"{{ yamtrack_oidc_secret }}","settings":{"server_url":"https://{{ services.pocket_id.domain }}/.well-known/openid-configuration"}}]}}'
      SOCIALACCOUNT_ONLY: "{{ sso_enabled }}"
      REDIRECT_LOGIN_TO_SSO: "{{ sso_enabled }}"
    networks:
      - default
      - caddy
    volumes:
      - "{{ yamtrack_data_dir }}/db:/yamtrack/db"
    ports: !reset []

  redis:
    image: redis:8-alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    restart: always
    volumes:
      - "{{ yamtrack_data_dir }}/redis:/data"

networks:
  caddy:
    external: true
