# external-file
# owner: FuzzyGrim
# repo: Yamtrack
# path: docker-compose.yml
# commit-hash: 4a5abba1f211883fa1c76865838ff218f3ebbd83

services:
  yamtrack:
    image: ghcr.io/fuzzygrim/yamtrack:0.25.0@sha256:4b8c12007d7fe6f4e73ddaef172e954ddf2facbc89312d1cd073d3e3e3891cee
    container_name: "{{ services.yamtrack.container_name }}"
    restart: always
    environment:
      TZ: "{{ timezone }}"
      SECRET: "{{ yamtrack_secret_key }}"
      URLS: "https://{{ services.yamtrack.domain }}"
      REGISTRATION: "{{ yamtrack_enable_registration }}"
      TMDB_NSFW: "True"
      SOCIAL_PROVIDERS: "allauth.socialaccount.providers.openid_connect"
      SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"pocketid","name":"Pocket ID","client_id":"{{ yamtrack_oidc_client_id }}","secret":"{{ yamtrack_oidc_secret }}","settings":{"server_url":"https://{{ services.pocket_id.domain }}/.well-known/openid-configuration"}}]}}'
      SOCIALACCOUNT_ONLY: "{{ sso_enabled }}"
      REDIRECT_LOGIN_TO_SSO: "{{ sso_enabled }}"
    networks:
      - default
      - caddy
    volumes:
      - "{{ yamtrack_data_dir }}/db:/yamtrack/db"
    ports: !reset []

  redis:
    image: redis:8-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d
    restart: always
    volumes:
      - "{{ yamtrack_data_dir }}/redis:/data"

networks:
  caddy:
    external: true
