# external-file
# owner: FuzzyGrim
# repo: Yamtrack
# path: docker-compose.yml
# commit-hash: 23750cc6141f1032876f49b42d18f5177733abac

services:
  yamtrack:
    image: ghcr.io/fuzzygrim/yamtrack:0.24.7@sha256:4df5f7917657739d2eb5d71de4cff220f74aad6faf2564ed17806390dad08a4e
    container_name: "{{ services.yamtrack.container_name }}"
    restart: always
    environment:
      TZ: "{{ timezone }}"
      SECRET: "{{ yamtrack_secret_key }}"
      URLS: "https://{{ services.yamtrack.domain }}"
      REGISTRATION: "{{ yamtrack_enable_registration }}"
      TMDB_NSFW: "True"
    networks:
      - default
      - caddy
    volumes:
      - "{{ yamtrack_data_dir }}/db:/yamtrack/db"
    ports: !reset []

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - "{{ yamtrack_data_dir }}/redis:/data"

networks:
  caddy:
    external: true
