# external-file: https://raw.githubusercontent.com/FreshRSS/FreshRSS/refs/heads/edge/Docker/freshrss/docker-compose.yml
# digest: d3858cf8fbfb7abcc8ef529d04a3924f1245eac05946b1a6c9278e24239ef3b6

services:
  freshrss:
    image: freshrss/freshrss:1.27.0@sha256:2b53d2708fc755aab499a96e865be5ae6deeafb99e855e235e8870b4013c56cd
    restart: always
    volumes:
      - "{{ freshrss_data_dir }}/data:/var/www/FreshRSS/data"
      - "{{ freshrss_data_dir }}/extensions:/var/www/FreshRSS/extensions"
    ports:
      - "127.0.0.1:{{ services.freshrss.port }}:80"
    environment:
      TZ: "{{ timezone }}"
      CRON_MIN: "3,33"
      TRUSTED_PROXY: !reset null
