# external-file
# owner: FreshRSS
# repo: FreshRSS
# path: Docker/freshrss/docker-compose.yml
# commit-hash: 50eeede063bb3d17f3129da1775df4dcf391a05f

services:
  freshrss:
    image: freshrss/freshrss:1.28.1@sha256:9100f649f5c946f589f54cdb9be7a65996528f48f691ef90eb262a0e06e5a522
    container_name: "{{ services.freshrss.container_name }}"
    restart: always
    networks:
      - caddy
    volumes:
      - "{{ freshrss_data_dir }}/data:/var/www/FreshRSS/data"
      - "{{ freshrss_data_dir }}/extensions:/var/www/FreshRSS/extensions"
    environment:
      TZ: "{{ timezone }}"
      CRON_MIN: "3,33"
      TRUSTED_PROXY: !reset null

networks:
  caddy:
    external: true
