services:
  lidarr:
    image: linuxserver/lidarr:3.1.0@sha256:0922867151c5175f394f4d865f6b3e63e8c05141132188e8790a1e66358e7196
    container_name: "{{ services.lidarr.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - "{{ lidarr_data_dir }}/config:/config"
      - "{{ lidarr_data_dir }}/music:/music"
      - "{{ rdtclient_data_dir }}/downloads:/downloads"
  prowlarr:
    image: linuxserver/prowlarr:2.3.0@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
    container_name: "{{ services.prowlarr.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - "{{ prowlarr_data_dir }}/data:/config"
  flaresolverr:
    image: flaresolverr/flaresolverr:v3.4.6@sha256:7962759d99d7e125e108e0f5e7f3cdbcd36161776d058d1d9b7153b92ef1af9e
    container_name: flaresolverr
    restart: always
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ prowlarr_data_dir }}/flaresolverr/data:/config"
  rdtclient:
    image: rogerfar/rdtclient:2.0.119@sha256:ab9beded5f3770be207f8ffda1b3f23e1906b87b1af7362b66600f80d25ac201
    container_name: "{{ services.rdtclient.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - "{{ rdtclient_data_dir }}/db:/data/db"
      - "{{ rdtclient_data_dir }}/downloads:/data/downloads"

networks:
  caddy:
    external: true
