# external-file
# owner: immich-app
# repo: immich
# path: docker/docker-compose.yml
# commit-hash: 74a9be4a0e0a884ee1c8c90711b76043501f5937

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.2.1@sha256:2c951a4063b55ec2de197fdf6a85e32b05872d3a18a18eaf851b827ff2622814
    container_name: "{{ services.immich.container_name }}"
    networks:
      - default
      - caddy
    ports: !reset []
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.2.1@sha256:590a76bba3d88ccf78b03cde0c0fb8788f7d76ae6caf90ad33a34b5b4cc35f11

networks:
  caddy:
    external: true
