# external-file
# owner: immich-app
# repo: immich
# path: docker/docker-compose.yml
# commit-hash: cbdf5011f983b75f7a539a41f8ff557766b512b1

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.4.0@sha256:7e2d0df478651551df3358072e68c235200b875eccd6eb4a5c5d8879a7095cf4
    container_name: "{{ services.immich.container_name }}"
    networks:
      - default
      - caddy
    ports: !reset []
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.0@sha256:204825c8cc626a3f44fb4b61f30ca5c76c3b4c557c9fb8bfc719902bf88daae4

networks:
  caddy:
    external: true
