# external-file
# owner: immich-app
# repo: immich
# path: docker/docker-compose.yml
# commit-hash: cbdf5011f983b75f7a539a41f8ff557766b512b1

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.4.1@sha256:e6a6298e67ae077808fdb7d8d5565955f60b0708191576143fc02d30ab1389d1
    container_name: "{{ services.immich.container_name }}"
    networks:
      - default
      - caddy
    ports: !reset []
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.1@sha256:b3deefd1826f113824e9d7bc30d905e7f823535887d03f869330946b6db3b44a

networks:
  caddy:
    external: true
