services:
  rdtclient:
    image: rogerfar/rdtclient:2.0.124@sha256:914c95640804dbcb301d63b8fe7515c3a8059bcfada01db595a51cc223611aa1
    container_name: "{{ services.rdtclient.container_name }}"
    restart: always
    networks:
      - caddy
    environment:
      PUID: "{{ ansible_user_uid }}"
      PGID: "{{ ansible_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ rdtclient_data_dir }}/db:/data/db"
      - "{{ rdtclient_data_dir }}/downloads:/data/downloads"

networks:
  caddy:
    external: true
