# external-file
# owner: n8n-io
# repo: n8n-hosting
# path: docker-caddy/docker-compose.yml
# commit-hash: ce750c945123bd5784a2985003c251b76372d783

services:
  caddy: !reset null

  n8n:
    image: n8nio/n8n:1.114.4@sha256:38e83833f4933c2e50a908b7accce76909e23878158762d6c21beb72cb4c657f
    container_name: "{{ services.n8n.container_name }}"
    ports: !reset []
    user: "0"
    networks:
      - caddy
    environment:
      - N8N_HOST={{ services.n8n.domain }}
      - WEBHOOK_URL=https://{{ services.n8n.domain }}/
      - GENERIC_TIMEZONE={{ timezone }}
    volumes:
      - "{{ n8n_data_dir }}/data:/home/node/.n8n"
      - "{{ n8n_data_dir }}/files:/files"

networks:
  caddy:
    external: true
