services:
  beszel:
    image: henrygd/beszel:0.12.10@sha256:2c8d150e5af967595f511522af235c11c508085c518dfb3f94077af155f8f81e
    container_name: "{{ services.beszel.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    volumes:
      - "{{ beszel_data_dir }}/data:/beszel_data"
      - "{{ beszel_data_dir }}/socket:/beszel_socket"
    environment:
      APP_URL: "https://{{ services.beszel.domain }}"
      USER_EMAIL: "{{ beszel_email }}"
      USER_PASSWORD: "{{ beszel_password }}"
    healthcheck:
      test: ['CMD', '/beszel', 'health', '--url', 'http://localhost:8090']
      start_period: 5s
      interval: 120s

  beszel-agent:
    image: henrygd/beszel-agent:0.12.10@sha256:6684cf709493b3728e329daaa669c8c386e9c2da324ce4ba3ef0c55c370fdbe5
    container_name: beszel-agent
    restart: always
    network_mode: host
    volumes:
      - "{{ beszel_data_dir }}/agent:/var/lib/beszel-agent"
      - "{{ beszel_data_dir }}/socket:/beszel_socket"
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ data_base_dir }}/.beszel:/extra-filesystems/nvme0n1:ro"
      - "{{ backup_base_dir }}/.beszel:/extra-filesystems/nvme1n1:ro"
    environment:
      LISTEN: "/beszel_socket/beszel.sock"
      HUB_URL: "https://{{ services.beszel.domain }}"
      TOKEN: "{{ beszel_agent_token }}"
      KEY: "{{ beszel_agent_key }}"
    healthcheck:
      test: ['CMD', '/agent', 'health']
      interval: 120s

networks:
  caddy:
    external: true
