services:
  beszel:
    image: henrygd/beszel:0.16.1@sha256:24c5513b364a2cb6f966819389128999817afbaebfe81ba2980289e39326f484
    container_name: "{{ services.beszel.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    volumes:
      - "{{ beszel_data_dir }}/data:/beszel_data"
      - "{{ beszel_data_dir }}/socket:/beszel_socket"
    environment:
      APP_URL: "https://{{ services.beszel.domain }}"
      USER_EMAIL: "{{ beszel_email }}"
      USER_PASSWORD: "{{ beszel_password }}"
    healthcheck:
      test: ['CMD', '/beszel', 'health', '--url', 'http://localhost:8090']
      start_period: 5s
      interval: 120s

  beszel-agent:
    image: henrygd/beszel-agent:0.16.1-alpine@sha256:17b342a95ddd2e77aad2ee28443f739e1e64d92ba974e116681644d9f3c87573
    container_name: beszel-agent
    restart: always
    network_mode: host
    volumes:
      - "{{ beszel_data_dir }}/agent:/var/lib/beszel-agent"
      - "{{ beszel_data_dir }}/socket:/beszel_socket"
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - "{{ data_base_dir }}/.beszel:/extra-filesystems/nvme0n1__Data:ro"
      - "{{ backup_base_dir }}/.beszel:/extra-filesystems/nvme1n1__Backup:ro"
    devices:
      - /dev/nvme0:/dev/nvme0
      - /dev/nvme1:/dev/nvme1
    cap_add:
      - SYS_RAWIO # required for S.M.A.R.T. data
      - SYS_ADMIN # required for NVMe S.M.A.R.T. data
    environment:
      LISTEN: "/beszel_socket/beszel.sock"
      HUB_URL: "https://{{ services.beszel.domain }}"
      TOKEN: "{{ beszel_agent_token }}"
      KEY: "{{ beszel_agent_key }}"
      SENSORS: "-nvme_sensor_*"
    healthcheck:
      test: ['CMD', '/agent', 'health']
      interval: 120s

networks:
  caddy:
    external: true
