services:
  beszel:
    image: henrygd/beszel:0.13.2@sha256:a741de26bd305c7a7dfc207d630bb6242990c695ee55fa0450e136eb1cdbb5da
    container_name: "{{ services.beszel.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    volumes:
      - "{{ beszel_data_dir }}/data:/beszel_data"
      - "{{ beszel_data_dir }}/socket:/beszel_socket"
    environment:
      APP_URL: "https://{{ services.beszel.domain }}"
      USER_EMAIL: "{{ beszel_email }}"
      USER_PASSWORD: "{{ beszel_password }}"
    healthcheck:
      test: ['CMD', '/beszel', 'health', '--url', 'http://localhost:8090']
      start_period: 5s
      interval: 120s

  beszel-agent:
    image: henrygd/beszel-agent:0.13.2@sha256:da76c4091dc5a1504d53df6e9b880ce3f5fe3adf369656fcf4f300970a4452e8
    container_name: beszel-agent
    restart: always
    network_mode: host
    volumes:
      - "{{ beszel_data_dir }}/agent:/var/lib/beszel-agent"
      - "{{ beszel_data_dir }}/socket:/beszel_socket"
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ data_base_dir }}/.beszel:/extra-filesystems/nvme0n1:ro"
      - "{{ backup_base_dir }}/.beszel:/extra-filesystems/nvme1n1:ro"
    environment:
      LISTEN: "/beszel_socket/beszel.sock"
      HUB_URL: "https://{{ services.beszel.domain }}"
      TOKEN: "{{ beszel_agent_token }}"
      KEY: "{{ beszel_agent_key }}"
      SENSORS: "-nvme_sensor_*"
    healthcheck:
      test: ['CMD', '/agent', 'health']
      interval: 120s

networks:
  caddy:
    external: true
