# external-file
# owner: ente-io
# repo: ente
# path: server/quickstart.sh
# commit-hash: 4c31a7bcd6efc21a6e61bf641ae606c76119e6a1

services:
  museum:
    image: ghcr.io/ente-io/server:latest@sha256:3c922f9f6dca7b6510449b9eb2d2fb012e4749df25e005db96a92f70626af626
    container_name: "{{ services.ente_api.container_name }}"
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - default
      - caddy
    volumes:
      - "{{ ente_auth_service_dir }}/museum.yml:/museum.yaml:ro"
      - "{{ ente_auth_data_dir }}/data:/data:ro"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/ping"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s

  web:
    image: ghcr.io/ente-io/web:latest@sha256:d0cf39c6471d03bb0049ecfd8f8eac41805c0f87ef9f77da5135229a5120a4c4
    container_name: "{{ services.ente_auth.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      ENTE_API_ORIGIN: "https://{{ services.ente_api.domain }}"

  postgres:
    image: postgres:18@sha256:073e7c8b84e2197f94c8083634640ab37105effe1bc853ca4d5fbece3219b0e8
    container_name: ente-postgres
    restart: always
    environment:
      POSTGRES_USER: "{{ ente_db_user }}"
      POSTGRES_PASSWORD: "{{ ente_db_password }}"
      POSTGRES_DB: "{{ ente_db_name }}"
    healthcheck:
      test: pg_isready -q -d {{ ente_db_name }} -U {{ ente_db_user }}
      start_period: 40s
      start_interval: 1s
    volumes:
      - "{{ ente_auth_data_dir }}/db:/var/lib/postgresql/data"

networks:
  caddy:
    external: true
