# external-file: https://raw.githubusercontent.com/ente-io/ente/main/server/quickstart.sh
# digest: c59c0c91667ac227e4b2cbc9aa2ae155677a6b4bd64d0c5846801ac0fa09a3b3

services:
  museum:
    image: ghcr.io/ente-io/server@sha256:3c922f9f6dca7b6510449b9eb2d2fb012e4749df25e005db96a92f70626af626
    container_name: ente-museum
    restart: always
    ports:
      - "127.0.0.1:{{ services.ente_api.port }}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./museum.yml:/museum.yaml:ro
      - "{{ ente_auth_dir }}/data:/data:ro"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/ping"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s

  web:
    image: ghcr.io/ente-io/web@sha256:791459f639001064512653fc5c7fa9887221c64cce8728dc5724c67d0e4381c0
    container_name: ente-web
    restart: always
    ports:
      - "127.0.0.1:{{ services.ente_auth.port }}:3003" # Auth
    environment:
      ENTE_API_ORIGIN: "https://{{ services.ente_api.domain }}"

  postgres:
    image: postgres:15
    container_name: ente-postgres
    restart: always
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: "{{ ente_db_password }}"
      POSTGRES_DB: ente_db
    healthcheck:
      test: pg_isready -q -d ente_db -U pguser
      start_period: 40s
      start_interval: 1s
    volumes:
      - "{{ ente_auth_dir }}/db:/var/lib/postgresql/data"
