# external-file
# owner: ente-io
# repo: ente
# path: server/quickstart.sh
# commit-hash: 23cf757c259e59e08697e28637fb6e71ef34887a

services:
  museum:
    image: ghcr.io/ente-io/server:latest@sha256:0135ea9d7e137283623f2cbb33ccf132b056f08bb8f9a9eb482f387db44f22e4
    container_name: "{{ services.ente_api.container_name }}"
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - default
      - caddy
    volumes:
      - "{{ ente_auth_service_dir }}/museum.yml:/museum.yaml:ro"
      - "{{ ente_auth_data_dir }}/data:/data:ro"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/ping"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s

  web:
    image: ghcr.io/ente-io/web:latest@sha256:1532caa2e85c070928768530f22510bbf264b7a9baa55d7ee5abd7755fc75945
    container_name: "{{ services.ente_auth.container_name }}"
    restart: always
    networks:
      - default
      - caddy
    environment:
      ENTE_API_ORIGIN: "https://{{ services.ente_api.domain }}"

  postgres:
    image: postgres:15@sha256:24d6c206bba8c0440bceb24a8d4bf642f60bf7aea94887051ea5761d29c22323
    container_name: ente-postgres
    restart: always
    environment:
      POSTGRES_USER: "{{ ente_db_user }}"
      POSTGRES_PASSWORD: "{{ ente_db_password }}"
      POSTGRES_DB: "{{ ente_db_name }}"
    healthcheck:
      test: pg_isready -q -d {{ ente_db_name }} -U {{ ente_db_user }}
      start_period: 40s
      start_interval: 1s
    volumes:
      - "{{ ente_auth_data_dir }}/db:/var/lib/postgresql/data"

networks:
  caddy:
    external: true
