# external-file
# owner: wger-project
# repo: docker
# path: docker-compose.yml
# commit-hash: b450305f141247494b43d94ca21a900810f9ee93

services:
  web:
    image: wger/server:latest@sha256:b52f03d3dd0eee50472c960044eae6a9da739d4b1f430141e0ff58782f6f9440
    container_name: "{{ services.wger.container_name }}"
    env_file: !override
      - .env
      - .env.override
    networks:
      - default
      - caddy
    volumes:
      - "{{ wger_data_dir }}/static:/home/wger/static"
      - "{{ wger_data_dir }}/media:/home/wger/media"
    expose: !reset null
    restart: always

  nginx: !reset null

  db:
    image: postgres:15-alpine@sha256:52af010baaeb34a287e7b5ea9696720727bd5bace64f9c18068ee187a6d6a4b2
    container_name: "wger-postgres"
    environment:
      - POSTGRES_PASSWORD={{ wger_db_password }}
      - TZ={{ timezone }}
    volumes:
      - "{{ wger_data_dir }}/db:/var/lib/postgresql/data/"
    expose: !reset null
    restart: always

  cache:
    image: redis@sha256:f0957bcaa75fd58a9a1847c1f07caf370579196259d69ac07f2e27b5b389b021
    container_name: "wger-redis"
    expose: !reset null
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    volumes:
      - "{{ wger_service_dir }}/redis.conf:/usr/local/etc/redis/redis.conf"
      - "{{ wger_data_dir }}/redis:/data"
    restart: always

    # You probably want to limit the memory usage of the cache, otherwise it might
    # hog all the available memory. Remove or change according to your needs.
    #mem_limit: 5gb

  celery_worker:
    image: wger/server:latest@sha256:b52f03d3dd0eee50472c960044eae6a9da739d4b1f430141e0ff58782f6f9440
    container_name: "wger-celery-worker"
    env_file: !override
      - .env
      - .env.override
    volumes:
      - "{{ wger_data_dir }}/media:/home/wger/media"
    restart: always

  celery_beat:
    image: wger/server:latest@sha256:b52f03d3dd0eee50472c960044eae6a9da739d4b1f430141e0ff58782f6f9440
    container_name: "wger-celery-beat"
    env_file: !override
      - .env
      - .env.override
    volumes:
      - "{{ wger_data_dir }}/beat:/home/wger/beat/"
    restart: always

networks:
  caddy:
    external: true
