services:
  museum:
    image: ghcr.io/ente-io/server@sha256:f7134fae7201b8a94ffd1695820f756f975e3ed90e587fb3519f12bccef7cde9
    container_name: ente-museum
    restart: always
    ports:
      - "127.0.0.1:{{ ente_api.port }}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./museum.yml:/museum.yaml:ro
      - "{{ ente_auth_dir }}/data:/data:ro"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/ping"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s

  web:
    image: ghcr.io/ente-io/web@sha256:791459f639001064512653fc5c7fa9887221c64cce8728dc5724c67d0e4381c0
    container_name: ente-web
    restart: always
    ports:
      - "127.0.0.1:{{ ente_auth.port }}:3003" # Auth
    environment:
      ENTE_API_ORIGIN: "https://{{ ente_api.domain }}"

  postgres:
    image: postgres:15
    container_name: ente-postgres
    restart: always
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: "{{ ente_db_password }}"
      POSTGRES_DB: ente_db
    healthcheck:
      test: pg_isready -q -d ente_db -U pguser
      start_period: 40s
      start_interval: 1s
    volumes:
      - "{{ ente_auth_dir }}/db:/var/lib/postgresql/data"
