services:
  app:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    environment:
      DOMAIN: "{{ VAULTWARDEN_DOMAIN }}"
      SIGNUPS_ALLOWED: "{{ VAULTWARDEN_SIGNUPS_ALLOWED }}"
    volumes:
      - /mnt/data/vaultwarden/data:/data

  web:
    image: caddy:2
    container_name: vaultwarden-caddy
    restart: always
    ports:
      - 8888:80 # Needed for the ACME HTTP-01 challenge.
      - 444:443
      - 444:443/udp # Needed for HTTP/3.
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy-config:/config
      - ./caddy-data:/data
    environment:
      DOMAIN: "{{ VAULTWARDEN_DOMAIN }}"
      EMAIL: "{{ ACME_EMAIL }}"
      LOG_FILE: "/data/access.log"
