services:
  navidrome:
    image: deluan/navidrome:0.60.2@sha256:1b3f9556fc4f70cb1c2d3995543e734bdc90c762c9c6ee9a7c5f6a9745efbc3e
    container_name: "{{ services.navidrome.container_name }}"
    restart: always
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    networks:
      - caddy
    environment:
      ND_DEEZER_LANGUAGE: "en,de"
      ND_LASTFM_LANGUAGE: "en,de"
      ND_ENABLEINSIGHTSCOLLECTOR: false
      ND_SCANNER_PURGEMISSING: "always"
      ND_MUSICFOLDER: "{{ navidrome_default_library }}"
      # UI & Features
      ND_DEFAULTTHEME: "{{ navidrome_default_theme }}"
      ND_ENABLESHARING: {{ navidrome_enable_sharing | lower }}
      ND_ENABLESTARRATING: {{ navidrome_enable_star_rating | lower }}
      # last.fm
      ND_LASTFM_APIKEY: "{{ lastfm_key }}"
      ND_LASTFM_SECRET: "{{ lastfm_secret }}"
    volumes:
      - "{{ navidrome_data_dir }}/data:/data"
      - "{{ music_library_dir }}:/music:ro"

networks:
  caddy:
    external: true
