services:
  navidrome:
    image: deluan/navidrome:0.59.0@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
    container_name: "{{ services.navidrome.container_name }}"
    restart: always
    user: "1000:1000"
    networks:
      - caddy
    environment:
      ND_ENABLEINSIGHTSCOLLECTOR: false
      ND_SCANNER_PURGEMISSING: "always"
      ND_MUSICFOLDER: "{{ navidrome_default_library }}"
      # UI & Features
      ND_DEFAULTTHEME: "{{ navidrome_default_theme }}"
      ND_ENABLESHARING: {{ navidrome_enable_sharing | lower }}
      ND_ENABLESTARRATING: {{ navidrome_enable_star_rating | lower }}
      # last.fm
      ND_LASTFM_APIKEY: "{{ navidrome_lastfm_key }}"
      ND_LASTFM_SECRET: "{{ navidrome_lastfm_secret }}"
    volumes:
      - "{{ navidrome_data_dir }}/data:/data"
      - "{{ lidarr_data_dir }}/music:/music/lidarr:ro"

networks:
  caddy:
    external: true
