# external-file
# owner: afadil
# repo: wealthfolio
# path: compose.yml
# commit-hash: bc614863ea5b65ed2cccfd4179d7a52fc0658f55

services:
  wealthfolio:
    image: afadil/wealthfolio:3.2.1@sha256:ce4d514f9e2ab3adaf0d59a0a8aef08bae820c9b748469f9c98d9f1d0688e937
    container_name: "{{ services.wealthfolio.container_name }}"
    restart: always
    networks:
      - caddy
    expose: !reset null
    volumes:
      - "{{ wealthfolio_data_dir }}/data:/data"

networks:
  caddy:
    external: true
