# external-file
# owner: wealthfolio
# repo: wealthfolio
# path: compose.yml
# commit-hash: 9a4da25fc4477be93f5d169b251cf5a6e99e3373

services:
  wealthfolio:
    image: wealthfolio/wealthfolio:3.5.2@sha256:a830fdcf8294f1a7ae224eaf680b86007331c2fd3a739f1349681388e00d2c30
    container_name: "{{ services.wealthfolio.container_name }}"
    restart: always
    networks:
      - caddy
    ports: !reset null
    volumes:
      - "{{ wealthfolio_data_dir }}/data:/data"

networks:
  caddy:
    external: true
