name: Deployment

on:
  pull_request:
    types:
      - closed
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
      - id: set-tags
        run: |
          tags_list=()
          run_all=false
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ "$file" == "deploy.yml" || "$file" == group_vars/* ]]; then
              run_all=true
              break
            elif [[ "$file" == roles/* ]]; then
              role=$(echo "$file" | cut -d'/' -f2)
              if ! [[ " ${tags_list[*]} " =~ " ${role} " ]]; then
                tags_list+=("$role")
              fi
            fi
          done

          if [[ "$run_all" == true ]]; then
            echo "ansible_tags=all" >> $GITHUB_OUTPUT
          elif [[ ${#tags_list[@]} -gt 0 ]]; then
            tags=$(IFS=,; echo "${tags_list[*]}")
            echo "ansible_tags=$tags" >> $GITHUB_OUTPUT
          else
            echo "ansible_tags=none" >> $GITHUB_OUTPUT
          fi
      - if: steps.set-tags.outputs.ansible_tags != 'none'
        run: echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > .vault_pass
      - if: steps.set-tags.outputs.ansible_tags != 'none'
        uses: Boostport/setup-cloudflare-warp@427fc9c04f371e4e0338701954d495c669ae7885 # v1
        with:
          organization: ${{ secrets.CLOUDFLARE_ORGANIZATION }}
          auth_client_id: ${{ secrets.CLOUDFLARE_AUTH_CLIENT_ID }}
          auth_client_secret: ${{ secrets.CLOUDFLARE_AUTH_CLIENT_SECRET }}
      - if: steps.set-tags.outputs.ansible_tags != 'none'
        uses: dawidd6/action-ansible-playbook@6c0a4f86519cc4a09ba95e5077ecfa2141deba9e # v7
        with:
          playbook: deploy.yml
          requirements: requirements.yml
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          inventory: |
            [raspberrypi]
            192.168.178.20 ansible_user=nhan ansible_python_interpreter=auto_silent
          vault_password: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
          options: |
            --tags ${{ steps.set-tags.outputs.ansible_tags }}
