services:
  adguard-home:
    image: adguard/adguardhome:v0.107.67@sha256:927dc14b3e3cbd359e84658914590270a77d54446a6565e9498bef3444c286a4
    container_name: "{{ services.adguard_home.container_name }}"
    restart: always
    networks:
      - caddy
    volumes:
      - "{{ adguard_home_data_dir }}/data:/opt/adguardhome/work"
      - "{{ adguard_home_data_dir }}/config:/opt/adguardhome/conf"
    ports:
      - "53:53/tcp" # DNS
      - "53:53/udp" # DNS
      # - "67:67/udp" # DHCP Server
      # - "68:68/udp" # DHCP Server
      # - "{{ adguard_home_initial_install_port }}:3000/tcp" # Initial Web Setup Interface
      # - "853:853/tcp" # DNS-over-TLS
      # - "784:784/udp" # DNS-over-QUIC
      # - "853:853/udp" # DNS-over-QUIC
      # - "8853:8853/udp" # DNS-over-QUIC
      # - "5443:5443/tcp" # DNSCrypt
      # - "5443:5443/udp" # DNSCrypt

networks:
  caddy:
    external: true
