services:
  museum:
    image: ghcr.io/ente-io/server
    ports:
      - "{{ ENTE_API_PORT }}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./museum.yml:/museum.yaml:ro
      - "{{ ente_auth_dir }}/data:/data:ro"
    labels:
      glance.parent: ente
      glance.name: API
      glance.hide: false

  web:
    image: ghcr.io/ente-io/web
    ports:
      # - 3001:3001 # Accounts
      - "127.0.0.1:{{ ENTE_AUTH_PORT }}:3003" # Auth
    environment:
      ENTE_API_ORIGIN: "{{ ENTE_API_URL }}"
    labels:
      glance.id: ente
      glance.name: Ente
      glance.icon: si:e
      glance.url: {{ ENTE_AUTH_URL }}
      glance.hide: false

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: "{{ ENTE_DB_PASSWORD }}"
      POSTGRES_DB: ente_db
    healthcheck:
      test: pg_isready -q -d ente_db -U pguser
      start_period: 40s
      start_interval: 1s
    volumes:
      - "{{ ente_auth_dir }}/db:/var/lib/postgresql/data"
    labels:
      glance.parent: ente
      glance.name: DB
      glance.hide: false
