services:
  museum:
    image: ghcr.io/ente-io/server
    container_name: ente-museum
    restart: always
    ports:
      - "{{ ENTE_API_PORT }}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./museum.yml:/museum.yaml:ro
      - "{{ ente_auth_dir }}/data:/data:ro"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/ping"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s

  web:
    image: ghcr.io/ente-io/web
    container_name: ente-web
    restart: always
    ports:
      - "127.0.0.1:{{ ENTE_AUTH_PORT }}:3003" # Auth
    environment:
      ENTE_API_ORIGIN: "https://{{ ENTE_API_DOMAIN }}"

  postgres:
    image: postgres:15
    container_name: ente-postgres
    restart: always
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: "{{ ENTE_DB_PASSWORD }}"
      POSTGRES_DB: ente_db
    healthcheck:
      test: pg_isready -q -d ente_db -U pguser
      start_period: 40s
      start_interval: 1s
    volumes:
      - "{{ ente_auth_dir }}/db:/var/lib/postgresql/data"
